# Server Configuration
PORT=4000
NODE_ENV=development

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/numisroma

# JWT Settings
JWT_SECRET=your_jwt_secret_should_be_changed_in_production

# Cors Configuration (optional)
CORS_ORIGIN=http://localhost:3000 